:root {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

li {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 2rem;
}

ul {
    margin: 0;
    padding: 0;
}

.hp::before {
    background-image: url('images/hp.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px; 
    height: 20px;
    content:"";
}


.attack::before {
    background-image: url('images/attack.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px; 
    height: 20px;
    content:"";
}


.defense::before {
    background-image: url('images/defense.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px; 
    height: 20px;
    content:"";
}


.special-attack::before {
    background-image: url('images/special-attack.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px; 
    height: 20px;
    content:"";
}


.special-defense::before {
    background-image: url('images/special-defense.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px; 
    height: 20px;
    content:"";
}

.speed::before {
    background-image: url('images/speed.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px; 
    height: 20px;
    content:"";
}


.container {
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    padding: 1rem;
    max-width: 20rem;
    overflow: hidden;
}

#secondContainer {
    display: none;
}

.pokemon-image{
    display: flex;
    align-content: center;
    justify-content: center;
}

.pokemon-image img {
    max-width: 15rem;
    padding: 1rem;
    animation-name: blurAnimation;
    animation-duration: 1s;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}


#pokemonName {
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
}

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

button:active {
  opacity: .5;
}


@keyframes blurAnimation {
    from {filter: blur(30px)}
    to {filter: blur(0px);}
  }
  
