:root {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.container {
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    padding: 1rem;
}

.pokemon-image img {
    max-width: 20rem;
    padding: 4rem;
    animation-name: blurAnimation;
    animation-duration: 4s;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description p {
    font-weight: 700;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
}

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

button:active {
  opacity: .5;
}


@keyframes blurAnimation {
    from {filter: blur(30px)}
    to {filter: blur(0px);}
  }
  
