:root {
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Estilo de la barra superior */

.headNav {
    margin-bottom: 2rem;
    background-color: rgb(242, 242, 242);
    width: 100vw;
    padding: 1rem;
}

.containerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 5rem;
}

.pokeDex {
    width: 15rem;
}

.pokeDex:hover {
    opacity: 70%;
}

.searchBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

/* Estilo del cuerpo */

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.formContainer {
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    padding: 1rem;
    overflow: hidden;
    height: 8rem;
}

.container {
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    padding: 1rem;
    overflow: hidden;
    flex-basis: 30%;
}


/* Estilo de las stats */

li {
    text-decoration: none;
    list-style: none;
    margin: 1rem 1rem 2rem 1rem;
}

.statBar {
    background-color: rgb(237, 85, 100);
    border-radius: 0.5rem;
    height: 0.7rem;
    margin-top: 0.2rem;
    /* A침ade espacio entre el valor y la barra */
}

#statsList {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* El estilo de cada habilidad */
.hp::before {
    background-image: url('images/hp.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
}


.attack::before {
    background-image: url('images/attack.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
}


.defense::before {
    background-image: url('images/defense.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
}


.special-attack::before {
    background-image: url('images/special-attack.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
}


.special-defense::before {
    background-image: url('images/special-defense.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
}

.speed::before {
    background-image: url('images/speed.svg');
    background-size: 25px 20px;
    background-repeat: none;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
}


/* De esta forma el segundo contenedor esta siempre oculto hasta que se ejecuta la busqueda */
#secondContainer {
    display: none;
}

/* El estilo de la imagen y la animaci칩n de inicio */
.pokemon-image {
    display: flex;
    align-content: center;
    justify-content: center;
}

#pokemonImage {
    max-width: 60%;
    padding: 1rem;
}

.pokeBallAnimated {
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.description {
    font-weight: 700;
}

#descriptionDetail {
    text-align: center;
}

#pokemonName {
    font-weight: 500;
    text-align: center;
}

#pokemonName:hover {
    font-weight: 800;
    cursor: pointer;
    font-style: italic;
    text-align: center;
}

/* Agrego el estilo de los tipos de pokemon */

.pokemon-types {
    display: flex;
    align-content: center;
    justify-content: center;
}

.type-image {
    max-width: 15%;
    padding: 0.5rem;
}

/* Los botones */
.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.busca {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
}


.busca:hover,
.busca:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.busca:active {
    opacity: .5;
}

button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
}


button:hover,
button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

button:active {
    opacity: .5;
}

/* Animacion del inicio */

@keyframes shake {
    0% {
      transform: translateX(0) rotate(0);
    }
    20% {
      transform: translateX(-10px) rotate(-20deg);
    }
    30% {
      transform: translateX(10px) rotate(20deg);
    }
    50% {
      transform: translateX(-10px) rotate(-10deg);
    }
    60% {
      transform: translateX(10px) rotate(10deg);
    }
    100% {
      transform: translateX(0) rotate(0);
    }
  }


/*Aca doy estilo al formulario*/

#nombre {
    border-radius: 4px;
    border: none;
    font-style: italic;
    padding: 0.5rem;
}

#nombre:focus {
    outline: 1px solid rgb(67, 74, 84);
}


/* Estilo del footer */

footer {
    display: flex;
    justify-content: center;
    font-size: small;
    margin-top: 2rem;
    background-color: rgb(242, 242, 242);
    width: 100vw;
    padding: 1rem;
}



/*Estilo para celulares*/

@media (max-width: 768px) { 
    .container {
        flex-basis:75%;
    }
    .formContainer {
        flex-basis: 75%;
    }
}



/* Dise침o del Popup - Toast para cuando algo sale mal*/

  .toast {
    background-color: rgb(31, 31, 31);
    border-radius: 99px;
    height: 10rem;
    width: 25rem;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    right: 0;
    left: 0;
    top: 40%;
    margin: auto;
    background-color: rgb(253, 70, 65);
    color: white;
    animation: animacion-entrada 1s linear 0s 1 normal none;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 2rem;
    font-weight: 800;
  }

  @keyframes animacion-entrada {
			
    0% {
        filter:blur(30px);
        opacity:0;
    }
    100% {
        filter:blur(0);
        opacity:1;
    }
}

/* Dise침o de las flechas para cambiar al pokemon siguiente o anterior */

.arrows:hover {
    cursor: pointer;
}

.arrows:active {
    scale: 95%;
    filter: drop-shadow(8px 8px 10px #000000);
}